<Files cabecera.php>
Order allow,deny
Deny from all
</Files>

<Files footer.php>
Order allow,deny
Deny from all
</Files>

<Files config.php>
Order allow,deny
Deny from all
</Files>

<Files menu.php>
Order allow,deny
Deny from all
</Files>

<Files recursos.php>
Order allow,deny
Deny from all
</Files>